					/* Фиксированное позиционирование на CSS */

				/* Сейчас мы разберемся с фиксированным позиционированием. Оно похоже на абсолютное, разница проявляется в том, как ведут себя эти типы позиционирования при наличии полосы прокрутки.

				При прокручивании страницы абсолютно спозиционированные элементы будут прокручиваться вместе со страницей. Смотрите пример: */



						/* Фиксированное позиционирование
			Можно сделать так, чтобы при прокручивании страницы спозиционированный элемент оставался на месте. Для этого ему нужно задать фиксированное позиционирование с помощью свойства position в значении fixed: */


			/* Блок на всю ширину экрана
			Чтобы фиксированный блок занял всю ширину экрана, ему нужно задать ширину 100%: */


/* .elem{
	position: fixed; прилипает к странице, когда прокручиваешь ползунок, то данный объект движется вместе с ним
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 50px;
	color: white;
	background-color: orangered;
	text-align: center;
	font-style:oblique; стиль текста
	font-size: 21px; размер шрифта
	line-height: 50px; устанавливает величину пространства между строками

}


.content{
	width: 500px;
	border: 1px solid orangered;
	margin: 60px auto;
	padding: 20px 10px;

} */


